  <%
    def link_to(name, url)
        return "<a href='#{url}'>#{name}</a>"
     end
  %>

  <% name ="Ruby" %>

<html>
  <body>
    <h1>You're using a layout</h1>
    <p>
      <h3> I'm a header</h3>
      <p>Put things in the header</p>
      <%= link_to('Google', 'http://google.com') %> <br/>
      <%= link_to('Amazon', 'http://amazon.com') %>

    </p>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3> I'm a footer</h3>
      <p>Put things in the footer</p>
      <p>Learning <%= name %> </p>
    </div>
  </body>
</html>